<div class="row" ng-controller="LocationController">
    <button type="button" ng-click="preInsert()" class="btn btn-info navbar-btn">Insert</button>
    <table class="table table-striped">
        <tr>
            <th>Location Name</th>
            <th>Location Parent</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="item in location">
            <td>{{item.locationName}}</td>
            <td>{{item.parentName}}</td>
            <td><a ng-click="preUpdate($index)"><img width="70px" height="30px" src="http://www.clker.com/cliparts/e/0/H/N/J/2/edit-button-blue-md.png"/>
                </a>
                <a ng-click="onDelete($index)"><img width="70px" height="30px" src="http://www.clker.com/cliparts/L/8/M/t/O/G/delete-button-blue-md.png"/></a></td>
        </tr>
    </table>
    <div class="row">
        <ul class="pagination navbar-right">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>